@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #fff;
   
}
main{
    max-width: 2000px;
    margin: auto;
}
.container{
    width: calc(100% - 120px);
    margin:auto;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    /* background-color: red; */
}

header{
    /* height: 50px; */
    /* background-color: red; */
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6.64744px 8.2372px 0px;
    height: fit-content;
    padding: 20px 0 ;
    width: 100%;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

header .logo-img{
    width: 35px;
}
header .logo a{
    font-family: "Roboto", sans-serif;
    color: #545BE8;
    font-weight: 700;
}

header .nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
header .nav ul li a{
    font-family: Poppins,sans-serif;
    color: #101928;
}
header .nav .active{
    font-weight: 700;
}

header .athu{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    
    
}

header .athu a{
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    height: 35px;
    width: 140px;
    border-radius:10px;
    font-family: Inter,sans-serif;
}
header .login{
    border: 1px solid #545BE8;
    color: #545BE8;
    
}
header .register{
    color: #fff;
    background-color: #545BE8;

}
header button{
    border: none;
    outline: none;
    background-color: #545BE8;
    color: #fff;
    padding: 5px 7px;
    border-radius:5px;
    cursor: pointer;
    display: none;
}
header .burger{
    width: 35px;
    background-color: transparent;
    
}

@media screen and (max-width: 970px){
    header .nav ul{
        display: none;
    }
    header button{
        display: flex;
    }
    header .athu{
        margin: auto;
    }
}
@media screen and (max-width: 690px){
    header .athu{
        display: none;
    }
}

@media screen and (max-width: 690px){

}


.introduction{
    margin: 100px 0;
    background-color: #F5F5F5;
    padding: 50px 0;
    font-family: Poppins;
}
.introduction .container .row{
    gap: 50px;
    /* background-color: #393E46; */
    /* justify-content: space-between; */
}

.begin{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc((100% - 50px) / 2);
}
.begin .para-begin{
    color: #545BE8;
    font-size: 20px;
}
.begin .para-begin span{
    font-weight: 700;
}
.begin h1{
    font-size: 70px;
    width: 70%;
    
}
.begin h1 span{
    color: #545BE8;
}
.begin .row{
    justify-content: flex-start;
}
.begin .row .reg{
    background-color: #545BE8;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.begin .row .play-video{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
    gap: 10px;
}
.begin .row .play-video a{
    /* width: 50px; */
    color: black;
    font-weight: 700;
    font-size: 18px;
    
}
.begin .row .play-video img{
    width: 50px

}

.discreption-begin{
    width: 60%;
    color: #9e9f9f;
}
.website-photo{
    /* text-align: right; */
    width: calc((100% - 50px) / 2);
}

.website-photo img{
    width: 70%;
}


.Services{
    /* padding: 50px 0; */
    font-family: Poppins;
    width: 100%;
    padding-bottom: 10px;
    
}
.Services .row{
    /* background-color: red; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    
    align-items: center;
    /* background-color: red; */
}

.Services .service-descreption{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 40px;
}


.Services .service-descreption span{
    color: #545BE8;
    font-size: 60px;
    font-weight: 800;
}
.Services .service-descreption h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
}
.Services .service-descreption p{
    color: #9e9f9f;
}
@media screen and (max-width: 550px){
    .Services .service-descreption span{
        font-size: 40px;
    }
    .Services .service-descreption h2{
        font-size: 16px;
    }
    .Services .service-descreption p{
        font-size: 10px;
    }
    .Services .service-item img{
        width: 25px;
    }
    .Services .service-item h2 {
        font-size: 17px;
    }
    .Services .service-item p{
        font-size: 10px;
    }

}
@media screen and (max-width: 408px){
    .Services .service-descreption span{
        font-size: 27px;
    }
    .Services .service-descreption h2{
        font-size: 13px;
    }
    .Services .service-descreption p{
        font-size: 8px;
    }
}
.Services .service-items{
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center
    
}

.Services .service-item{
    width: 300px;
    background-color: #545BE8;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    transition: scale 0.6s;
}

.Services .service-item:hover{
    scale: 1.06;
}
.Services .service-item .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Services .service-item img{
    width: 40px;
}
.Services .service-item h2 {
    color: white;
}
.Services .service-item p{
    color: #DDD;
}
.Services .Arrows{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 100px;
}
.Services .arow{
    height: 50px;
    width: 50px;
    margin-top: 50px;
    
    background-color: #F0C932;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Services .arow img{
    width: 60%;
}







.Course-taking{
    background: linear-gradient(180deg, #545BE8 0%, #272DB0 100%);
    padding: 50px 0;
    font-family: Poppins;
    margin-bottom: 100px;
}
.Course-taking .row{
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    gap: 50px;
    
}
.learn{
     width:calc((100% - 50px) / 2); 
}
.learn img{
    width: 60%;
}
.statistc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.statistc h2{
    color: #F0C932;
}

.Course-taking-descreption{
    width:calc((100% - 50px) / 2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}


.Course-taking-descreption h2{
    color: #ffffff;
    font-size: 40px;
}

.Course-taking-descreption span{
    color: white;
}
.Course-taking-descreption .select{
    color: #F0C932;
    font-size: 22px;
}
.Course-taking-descreption p{
    color: rgb(213, 211, 211);
    width: 70%;
}

.people-views{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.people-views h2{
    color: #F0C932;
}



.courses{
    font-family: Poppins,sans-serif;
}

.courses .row{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    /* padding: 50px 0px; */


}
.courses .container .row .course-items{
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%

}
.courses .container .row .course-items .course-item{
    /* background-color: antiquewhite; */
    width: 400px;
    display: block;
    position: relative;
    align-self: flex-start;
}

@media screen and (max-width:1780px) {
    .courses .container .row .course-items .course-item{
        width: calc(33.33% - 40px);
    }
}
@media screen and (max-width:1360px) {
    .courses .container .row .course-items .course-item{
        width: calc(50% - 20px);
    }
}
@media screen and (max-width:770px) {
    .courses .container .row .course-items .course-item{
        width: 100%;
    }
}

.courses .container .row .course-items .course-item::before{
    content: 'Best Course';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: #545BE8;
    width: 120px;
    height: 40px;
    top: 40px;
    border-radius: 0px 10px 10px 0;
    transition: all 1s;
}
.courses .container .row .course-items .course-item::after{
    content: '$ 20 USD';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    position: absolute;
    /* background-color: #545BE8; */
    width: 130px;
    height: 40px;
    bottom: 125px;
    right: 10px;
    font-size: 25px;
    transition: width 1s;
}
.courses .container .row .course-items .course-item:hover::after{
    width:100%;

}
.courses .container .row .course-items .course-item:hover::before{
    width:100%;
    letter-spacing: 7px;
    border-radius: 0;

}


.course-item-descreption{
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6.64744px 8.2372px 0px;

}
.course-item img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
    object-fit: cover;

    
}
.darken{
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 116px;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,0.9));
    
}

.name-views-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
    height: fit-content;

}
@media screen and (max-width: 410px){
    .course-item .views{
        font-size: 11px;
    }
    .course-item h2{
        font-size: 15px;
    }
    .videos-teacher-row{
        font-size: 14px;
    }
    .darken{
        bottom: 100px;   
    }
}
.videos-teacher-row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    gap: 20px;
    padding-bottom: 20px;
    height: fit-content;

}
.course-item .views{
    color: #545BE8;
}
.courses .course-descreption{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 100%;
    margin:auto;
    margin-bottom: 20px;
}
.course-descreption .availble{
    color: #545BE8;
    /* width: 100%; */
    font-size: 50px;   
    font-weight: 800;

}
.course-descreption h2 {
    font-weight: 800;
    font-size: 40px;
}
.course-descreption .leorem{
    width: 100%;
     color: #9e9f9f;
}
.course-descreption a{
    background-color: #545BE8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    border-radius: 10px;
}


.course-descreption a:hover{
    background-color: #4e54d5;
}

/* @media screen and (max-width:1280px){
    .courses .container .row .course-items .course-item{
        
        width: calc((200% - 40px) / 2);
    }
    
}
@media screen and (max-width:750px){
    .courses .container .row .course-items .course-item{
        
        width: calc((200% - 40px) / 2);
            }
} */




.Testimonials{
    background-color: #fff;
    display: flex;
    gap: 40px;
    font-family: Poppins;
    margin-top: 40px;
    
}
.Testimonials h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
.Testimonial{
    padding:30px;
    margin-bottom: 50px;
    width: calc((100% - 40px) /2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 8.2372px 8.2372px 7px rgba(0, 0, 0, 0.10);
    position: relative;
    
}
.Testimonial p{
    color: #838080;
    width: 100%;
}
.Testimonial span{
    color: #838080;
}
.Testimonial::after{
    position: absolute;
    border-left: 100px solid transparent;
    border-top: 100px solid rgb(225, 225, 225);
    top: 0;
    right: 0;
    content: '';
}
.Testimonial img{
    width: 150px;
}
.Testimonial .user-details img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user-details{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}



@media screen and (max-width:1030px){
    .Testimonial{
        width: 100%;
        
  
    }

}

@media screen and (max-width:370px){
    .Testimonials h2{
        font-size: 30px;
    }
    .Testimonial .user-image{
        width: 0px;
    }
    .Testimonial h3{
        font-size: 14px;
    }
    .Testimonial p{
        width: 100%;
        font-size: 11px;
    }
    .Testimonial span{
        color: #838080;
        font-size: 12px;
    }
    .Testimonial .star{
        width: 100px;
    }

    .Testimonial::after{
        position: absolute;
        border-left: 50px solid transparent;
        border-top: 50px solid rgb(225, 225, 225);
        top: 0;
        right: 0;
        content: '';
    }
}



footer{
    background-color: #393E46;
    color: white;
    font-family: Poppins,sans-serif;
    
}

footer .row{
    /* background-color: #7577a4; */
    margin:auto;
    padding: 50px 0;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    
    
}

footer .discreption-side .logo{
    /* background-color: #393E46; */
    display: flex;
    align-items: center;
    gap: 10px;

    

}
footer .discreption-side .logo img{
    width: 35px;
}
footer .discreption-side .logo a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
}

footer .discreption-side{
    /* background-color: red; */
    width: calc( (100% - 40px) / 2 );
    display: flex;
    flex-direction: column;
    gap: 40px;
}
footer .discreption-side p{
    width: 70%;
}
footer .discreption-side ul{
    display: flex;
    gap: 10px;
}

footer .discreption-side ul li img{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    box-sizing: content-box;
    padding: 10px;
}
footer .discreption-side ul li img:hover{
    border: 1px solid transparent;
}

footer .lists-side{
    /* background-color: green; */
    /* width: 800px; */
    width: calc( (100% - 40px) / 2 );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
footer .lists-side h2{
    margin-bottom: 30px;

}

footer .lists-side ul { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}




.sign-made p{
    font-size: 20px;
    width: 100%;
    
}
.sign-made p span{
    color: red;
}