@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #fff;
}
.container{
    width: calc(100% - 120px);
    margin:auto;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header{
    /* height: 50px; */
    /* background-color: red; */
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6.64744px 8.2372px 0px;
    height: fit-content;
    padding: 20px 0 ;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header .logo-img{
    width: 35px;
}
header .logo a{
    font-family: "Roboto", sans-serif;
    color: #545BE8;
    font-weight: 700;
}

header .nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
header .nav ul li a{
    font-family: Poppins,sans-serif;
    color: #101928;
}
header .nav .active{
    font-weight: 700;
}

header .athu{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

header .athu a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    height: 35px;
    width: 140px;
    border-radius:10px;
    font-family: Inter,sans-serif;
}
header .login{
    border: 1px solid #545BE8;
    color: #545BE8;
    
}
header .register{
    color: #fff;
    background-color: #545BE8;

}
.courses{
    font-family: Poppins,sans-serif;
}

.courses .row{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0px;


}
.courses .container .row .course-items{
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: calc((100% - 20px) / 2);

}
.courses .container .row .course-items .course-item{
    /* background-color: antiquewhite; */
    width: calc((200% - 40px) / 4);
    display: block;
    position: relative;
}
.courses .container .row .course-items .course-item::before{
    content: 'Best Course';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background-color: #545BE8;
    width: 120px;
    height: 40px;
    top: 40px;
    border-radius: 0px 10px 10px 0;
    transition: all 1s;
}
.courses .container .row .course-items .course-item::after{
    content: '$ 20 USD';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    position: absolute;
    /* background-color: #545BE8; */
    width: 130px;
    height: 40px;
    bottom: 125px;
    right: 10px;
    font-size: 25px;
    transition: width 1s;
}
.courses .container .row .course-items .course-item:hover::after{
    width:100%;

}
.courses .container .row .course-items .course-item:hover::before{
    width:100%;
    letter-spacing: 7px;
    border-radius: 0;

}


.course-item-descreption{
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6.64744px 8.2372px 0px;

}
.course-item img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
    object-fit: cover;

    
}
.darken{
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 116px;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,0.9));
    
}

.name-views-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
    height: fit-content;

}
.videos-teacher-row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    gap: 20px;
    padding-bottom: 20px;
    height: fit-content;

}
.course-item .views{
    color: #545BE8;
}
.courses .course-descreption{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
}
.course-descreption .availble{
    color: #545BE8;
    font-size: 20px;
}
.course-descreption h2 {
    font-weight: 800;
    font-size: 40px;
}
.course-descreption .leorem{
    width: 60%;
}
.course-descreption a{
    background-color: #545BE8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 45px;
    border-radius: 10px;
}


.course-descreption a:hover{
    background-color: #4e54d5;
}










footer{
    background-color: #393E46;
    color: white;
    font-family: Poppins,sans-serif;
    
}

footer .row{
    /* background-color: #7577a4; */
    margin:auto;
    padding: 50px 0;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    
    
}

footer .discreption-side .logo{
    /* background-color: #393E46; */
    display: flex;
    align-items: center;
    gap: 10px;

    

}
footer .discreption-side .logo img{
    width: 35px;
}
footer .discreption-side .logo a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
}

footer .discreption-side{
    /* background-color: red; */
    width: calc( (100% - 40px) / 2 );
    display: flex;
    flex-direction: column;
    gap: 40px;
}
footer .discreption-side p{
    width: 70%;
}
footer .discreption-side ul{
    display: flex;
    gap: 10px;
}

footer .discreption-side ul li img{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    box-sizing: content-box;
    padding: 10px;
}
footer .discreption-side ul li img:hover{
    border: 1px solid transparent;
}

footer .lists-side{
    /* background-color: green; */
    /* width: 800px; */
    width: calc( (100% - 40px) / 2 );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
footer .lists-side h2{
    margin-bottom: 30px;

}

footer .lists-side ul { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}



.sign-made p{
    font-size: 20px;
    width: 100%;
}
.sign-made p span{
    color: red;
}